.section-3 {
    width: 100%;
    height: 100vh;
    padding: 50px 100px 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .section-3-text {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h1 {
            color: #101010;
            font-weight: bold;
            font-size: 35px;
            font-size: 35px;
        }

        p {
            color: #101010;
            opacity: 0.7;
            font-size: 20px;
        }

        button {
            width: 200px;
            height: 60px;
            background: #CF5979;
            border: none;
            color: white;
            font-size: 20px;

            &:hover {
                border: 2px solid #CF5979;
                background-color: white;
                color: #CF5979;
                border-radius: 5px;
            }

        }

    }

}

@media (max-width: 600px) {
    .section-3 {
        padding: 20px;
        flex-direction: column;
        height: auto;

        img {
           max-width: 100%;
        }

        .section-3-text {
            gap: 10px;

            h1 {
                text-align: center;
                font-size: 40px;
            }

            p {
                text-align: center;
                font-size: 25px;
            }

        }
        
        button {
            margin: auto;
        }

    }
}