* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
}

.section-1 {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/3b149476806255 1.svg");
  background-position: center;
  background-size: cover;
  padding: 30px 100px;
}

.section-1 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-1 header .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.section-1 header .header-text a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.section-1 header .header-text a:hover {
  color: #2a1ed3;
}

.section-1 h1 {
  font-size: 60px;
  color: white;
  font-weight: bold;
  margin-top: 80px;
}

.section-1 .icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin-top: 40px;
}

.section-1 .icon-text p {
  color: #FFFFFF;
  opacity: 0.8;
  font-size: 20px;
}

@media (max-width: 600px) {
  .section-1 {
    padding: 20px;
    height: auto;
    position: relative;
  }
  .section-1 .header-text a {
    display: none;
  }
  .section-1 h1 {
    text-align: center;
    margin: 20px;
  }
  .section-1 .icon-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .section-1 .icon-text p {
    text-align: center;
  }
  .section-1 .img {
    display: none;
  }
}

.section-2 {
  width: 100%;
  height: 100vh;
  padding: 50px 100px;
}

.section-2 .section-2-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-2 .section-2-text h1 {
  font-size: 35px;
  color: #101010;
  font-weight: bold;
}

.section-2 .section-2-text p {
  color: #101010;
  opacity: 0.7;
  font-size: 20px;
}

.section-2 .section-2-contanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-2 .section-2-contanier .box-con {
  width: 335px;
  height: 360px;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 82px 123px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 82px 123px -10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

.section-2 .section-2-contanier .box-con img {
  position: relative;
  top: -100px;
  left: -20px;
}

.section-2 .section-2-contanier .box-con h2 {
  position: relative;
  top: -90px;
  font-size: 28px;
}

.section-2 .section-2-contanier .box-con h2 span {
  color: #CF5979;
}

@media (max-width: 600px) {
  .section-2 {
    padding: 20px;
    height: auto;
  }
  .section-2 .section-2-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .section-2 .section-2-text h1 {
    font-size: 40px;
    text-align: center;
  }
  .section-2 .section-2-text p {
    font-size: 25pxpx;
    text-align: center;
  }
  .section-2 .section-2-contanier {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .section-2 .section-2-contanier .box-con {
    width: 100%;
  }
}

.section-3 {
  width: 100%;
  height: 100vh;
  padding: 50px 100px 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-3 .section-3-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.section-3 .section-3-text h1 {
  color: #101010;
  font-weight: bold;
  font-size: 35px;
  font-size: 35px;
}

.section-3 .section-3-text p {
  color: #101010;
  opacity: 0.7;
  font-size: 20px;
}

.section-3 .section-3-text button {
  width: 200px;
  height: 60px;
  background: #CF5979;
  border: none;
  color: white;
  font-size: 20px;
}

.section-3 .section-3-text button:hover {
  border: 2px solid #CF5979;
  background-color: white;
  color: #CF5979;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .section-3 {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .section-3 img {
    max-width: 100%;
  }
  .section-3 .section-3-text {
    gap: 10px;
  }
  .section-3 .section-3-text h1 {
    text-align: center;
    font-size: 40px;
  }
  .section-3 .section-3-text p {
    text-align: center;
    font-size: 25px;
  }
  .section-3 button {
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */